@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary   : #ABB2BF;
    --color-secondary : #C778DD;
    --color-background: #282C33;
    
}

@font-face {
    font-family : FiraCode;
    font-style  : normal;
    font-weight : 200 700;
    font-display: swap;
    src         : url("@Assets/fonts/FiraCode-VariableFont.ttf") format("truetype");
}

@layer base {
    html {
        @apply transition-colors duration-300;

        font-family: "FiraCode", monospace;

    }
}